.header {
  background-color: silver;
  height: 70px;
  &--title {
    text-align: center;
    padding-top: 23px;
    font-weight: 800;
  }
}

@include tablet {
  .header {
    &--title {
      font-size: 17px;
    }
  }
}

@include desktop {
  .header {
    &--title {
      font-size: 21px;
    }
  }
}
